.btn,
a.btn {
  display: block;
  border-radius: 4px;
  padding: 13px 20px;
  text-align: center;
  color: var(--light);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s ease;
  transition-property: background, color, border-color, box-shadow;
}
.btn-primary,
a.btn-primary {
  background: var(--primary-dark);
  color: var(--light);
}
.btn-secondary,
a.btn-secondary {
  background: var(--secondary-dark);
  color: var(--light);
}
.btn-secondary:hover,
a.btn-secondary:hover {
  background: var(--primary-dark);
}
.btn-secondary:focus {
  box-shadow: 0 0 0 3px var(--secondary);
}
.btn-primary:hover,
a.btn-primary:hover {
  background: var(--secondary-dark);
}
.btn-primary:focus {
  box-shadow: 0 0 0 3px var(--primary);
}
.control {
  background: var(--light);
  border-radius: 4px;
  padding: 13px 10px;
  transition: box-shadow 0.2s ease;
}
.control:focus {
  box-shadow: 0 0 0 3px var(--primary);
}
.btn-round {
  border-radius: 100px;
}
